# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Prisma
apps/api/prisma/dev.db

# Local storage mock (uploaded photos in local dev)
apps/api/.local-storage/

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/

# Misc
*.tsbuildinfo
.turbo/
